body {
    max-width: 700px;
    width: 80%;
    margin: 20px auto;

    font-family: 'Source Sans Pro', sans-serif;
    border: 16px solid #a2a2a2;

    padding: 26px;
}

hr {
    padding: 0;
    margin: auto;
    width: auto;
    color: #f3f3f3;
}

.entry {
    margin: auto;
    padding: 16px 0;
    text-align: justify;
}

.date {
    text-transform: uppercase;
    color: #00c1c1;
    letter-spacing: 4px;
}

.title {
    font-size:36px;
    text-transform: capitalize;
    margin: 10px 0;
}

.highlight {
    padding: 0 16px;
    border-left: 4px solid #a2a2a2;
}

.content {
}